@import '~antd/dist/antd.css';

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f0f2f5;
}

.layout-components-nav {
    float: left;
    height: 64px;
    padding-top: 8px;
}

.layout-component-login-form {
    float: right;
    padding: 14px 0px;
}

.layout-component-logout-button {
    float: right;
    margin: 16px;
}

.pages-registration-form {
    width: 600px;
}

.pages-game-field {
    width: 240px;
}

.pages-game-cell {
    margin: 2px;
    width: 20px;
    height: 20px;
    float: left;
}
